.ConfirmDialog {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  font-size: 14px;
}

.ConfirmDialog .Content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.ConfirmDialog .ContentWidth {
  min-width: 90vw;
}

@media screen and (min-width: 1081px) {
  .ConfirmDialog .ContentWidth {
    min-width: 50vw;
  }
}

.ConfirmDialog .Title {
  margin-bottom: 20px;
  font-size: 16px;
}

.ConfirmDialog .PriceContainer {
  display: flex;
  align-items: center;
}

.ConfirmDialog .Price {
  height: 44px;
  background: #F0FAFF;
  border-radius: 8px;
  width: 100%;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  display: flex;
  font-size: 12px;
}

.ConfirmDialog .Buttons {
  margin-top: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ConfirmDialog .Button {
  padding: 10px 20px;
  height: auto;
  letter-spacing: 0px;
  flex: 1;
}

.ConfirmDialog .Cancel {
  margin-right: 10px;
  border: solid 1px #32D9E3;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.ConfirmDialog .Confirm {
  margin-left: 10px;
  background: #32D9E3;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #32D9E3;
}