* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

body {
    color: #190064FF;
    font-size: 14px;
    background: #F0FAFFFF;
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt60 {
    margin-top: 60px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml40 {
    margin-left: 40px;
}

.ml60 {
    margin-left: 60px;
}

.ml80 {
    margin-left: 80px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr40 {
    margin-right: 40px;
}

.mr80 {
    margin-right: 80px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb60 {
    margin-bottom: 60px;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.just-center {
    justify-content: center;
}

.Text-center {
    text-align: center;
}

.ModuleBg {
    background: #FFFFFF;
    border-radius: 12px 12px 12px 12px;
    font-size: 12px;
    border: 1px solid #E0F5FF;
}

.prettyBg {
    background: linear-gradient(90deg, #59EAFF 0%, #E64EC2 100%);
    border-radius: 2px 2px 2px 2px;
}

.selection {
    margin-left: 8vw;
    margin-right: 8vw;
}

.hide {
    display: none;
}

.center {
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {}